<div class="home-container">
  <div class="hero">
    <h1>Welcome to Just Pay</h1>
    <p>Manage your jobs and services efficiently</p>
    
    <div class="cta-buttons">
      <%= link_to "Sign In", new_user_session_path, class: "button button-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "button button-outline" %>
    </div>
  </div>
</div>